Delete button

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zeta Message Admin</title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/adminstyle.css">
    <script type="text/javascript" src="/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/admin.js"></script>
</head>
<body>


<div class="jumbotron" img="/assets/images/download.png">

    <h1>Nerd Board 2000XL</h1>
</div>


<h2>Zeta Messages</h2>
<div id="messageContainer"></div>

</body>
</html>